* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

body {

  background-color: #0F1219;

}

/* navbar style */
.navbar-brand {
  margin-right: auto;

}

.navbar-brand img {
  height: 50px;
  width: 80%;
}

.navbar-nav a {
  color: #FFFFFF;
}

.navbar-nav button {

  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, rgba(66, 133, 244, 1), rgba(12, 83, 199, 1));
  box-shadow: 0 10px 32px 0 rgba(1, 123, 253, 0.49);
  padding: 0px 30px;
  height: 40px;
}

.nav-item a {
  text-decoration: none;
}

.nav-link {
  color: #FFFFFF;
}

.nav-link:hover {
  color: #FFFFFF;
}

.navbar-nav {
  margin: 0 auto;
  color: #FFFFFF;
  display: flex;
}

.navbar-nav .nav-link {
  padding: 0 30px;
}

.ml-auto {
  margin-left: auto;
  padding: 10px;
}

.ml-auto a {
  font-family: Cabin;
  font-size: 20px;
  font-weight: 400;
}

.mx-auto a {
  font-family: Cabin;
  font-size: 20px;
  font-weight: 400;
  align-items: center;
  justify-content: center;

}

/* main style */
.sec1 {
  justify-content: center;
  /* text-align: center; */
  color: #FFFFFF;


}

.sec1 h1 {
  color: #FFFFFF;
  font-family: Rammetto One;
  font-size: 50px;
  font-weight: 300px;
  margin-top: 180px;
  text-align: center;
  margin-left:30px;
  justify-content: center;
}

.sec1 p {
  background-color: #191E2C;
  height: 50px;
  padding-top: 15px;
  text-align: center;
  margin-left: 460px;
  width: 18%;
  ;
  border-radius: 7px;
  font-family:
    Poppins;
  margin-top: 20px;
  text-align: center;
}

.sec1 span {
  color: gray;
}

.sec2 {
  color: white;
  margin-top: 150px;
  max-width: 80%;

}

.sec2 img {
  height: 470px;
}

.sec2 span {
  font-family:
    Roboto Mono;
  color: #4285F4;
  font-size: 15px;
  font-weight: 500;
}

.sec2 h3 {
  font-family: Rammetto One;
  font-size: 33x;
  font-weight: 400;
  line-height: 50px;
  margin-left: 30px;
}

.sec2 p {
  font-size: 15px;
  font-family: Roboto Mono;
  font-weight: 500;
  line-height: 35px;
  width: 100%;
  margin-left: 30px;
  justify-content: center;
}

.progress-bar {
  height: 10px;
  font-size: 12px;
}

.sec4 {
  text-align: center;
  margin-top: 100px;
  max-width: 80%;
}

.sec4 img {
  height: 80px;
  padding: 10px;
}

.sec5 {
  margin-top: 100px;
  color: #FFFFFF;
  max-width: 80%;
}

.sec5 img {

  width: 96%;

}

.sec5 h3 {
  font-family: Poppins;
  font-size: 45px;
  font-weight: 800;
  line-height: 79.5px;

}

.sec5 span {
  color: #4285F4;
}

.sec5 p {
  font-family: Roboto Mono;
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  color: gray;
  justify-content: center;
}

.sec6{
  max-width: 80%;
}
.sec6 h5 {
  color: gray;
  font-size: 13px;
  font-weight: 600;
  line-height: 21px;
  font-family: 'SF Mono', sans-serif;

}

.img1 {
  width: 13.5%;
}

.sec6 span {
  text-align: end;
  margin-left: 430px;
  color: #FFFFFF;

}

.sec6 img {
  width: 85%;

}


.img2 span {

  margin-left: 320px;
  color: #FFFFFF;
}

.img3 span {

  margin-left: 240px;
  color: #FFFFFF;
}

.img4 span {

  margin-left: 285px;
  color: #FFFFFF;
}

.img5 span {

  margin-left: 390px;
  color: #FFFFFF;
}

.img6 span {

  margin-left: 380px;
  color: #FFFFFF;
}

.img7 span {

  margin-left: 395px;
  color: #FFFFFF;
}


.sec7 {
  margin-top: 100px;
  color: #FFFFFF;
  max-width: 80%px;
}

.sec7 h1 {
  font-family: Poppins;
  font-size: 45px;
  font-weight: 800;
  line-height: 60px;
  margin-left: 20px;
}

.sec7 p {
  font-family: Roboto Mono;
  font-size: 15px;
  font-weight: 500;
  line-height: 28px;
  color: gray;
  justify-content: center;
  margin-left: 20px;
}

.sec7 span {
  color: #4285F4

}

.sec8 h1 {
  font-family: Rammetto One;
  font-size: 60px;
  font-weight: 400;
  line-height: 124px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 100px;
  max-width: 80%;
}

.sec9 {
  text-align: center;
  background-image: url("../img/Vector\ \(1\).png");
  justify-content: center;
max-width: 80%px;
  color: #FFFFFF;
 
}

.sec9 img {
  width: 100%;
  height: 380px;
  margin-top: 30px;
}

.sec9 p {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;

}

.sec9 h3 {
  font-family: Racing Sans One;
  font-size: 25px;
  font-weight: 400;

}

.sec10 {
  margin-top: 100px;
  max-width: 80%px;
}

.sec10 h2 {
  font-family:
    Rammetto One;
  font-size: 50px;
  font-weight: 400;
  /* line-height: 106px; */
  color: #FFFFFF;
  margin-top: 30px;
}

.sec10 p {
  font-family:
    Cabin;
  font-size: 20px;
  font-weight: 400;
  margin-top: 30px;
  /* line-height: 58px; */
  color: #FFFFFF;
}

.sec10 span {
  color: #4285F4;

}

.outline h1 {
  font-family:
    Poppins;
  font-size: 100px;
  font-weight: 900;
  text-align: center;
  line-height: 202.5px;

  color: #07090e;
  /* -webkit-text-stroke: 2px black;  */

  text-shadow:
    -1px -1px 0 #484747,
    /* Top-left */
    1px -1px #484747,
    /* Top-right */
    -1px 1px 0 #484747,
    /* Bottom-left */
    1px 1px 0 #484747;
  /* Bottom-right */
}



/* ##### footer ##### */


.para7 {
  margin-top: 50px;

}

.para7 img {
  width: 300px;
}

.para7 p {
  color: gray;
  margin-top: 30px;
  font-family: cabin;
}

.para8 {
  margin-top: 50px;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 30px;
  font-family: cabin;
}

.para9 {
  color: #FFFFFF;
  line-height: 30px;
  font-size: 12px;
  margin-top: 50px;
  font-family: cabin;
}

.para10 {
  color: white;
  margin-top: 50px;
}

.para10 input {
  width: 300px;
  background-color: black;
  border: none;
  border-radius: 20px;
  height: 40px;
  padding-left: 20px;
  z-index: 8;
}

.btn5 {
  background: linear-gradient(to right, rgba(66, 133, 244, 1), rgba(12, 83, 199, 1));
  border: none;
  padding: 0px 20px;
  height: 35px;
  border-radius: 25px;
  width: 80px;
  position: absolute;
  margin-left: -70px;
  margin-top: 3px;
  z-index: 10;


}

#place::placeholder {
  font-size: 15px;

}

.para10 p {
  font-size: 10px;
  margin-top: 8px;
  color: gray;
  font-family: cabin;
}

.para10 img {
  height: 50px;
  padding: 10px;
}

.para11 {
  margin-top: 350px;
  background-color: #191E2C;

}

.para12 {
  margin-top: 30px;
}

.para13 {
  background-color: #131620;
  color: #FFFFFF;
  font-family: cabin;
  font-size: 12px;
}

.para13 p {
  margin-top: 20px;
  font-family: cabin;
}

.bar {
  margin-top: 80px;
  border: 3px dotted rgba(66, 133, 244, 1);
  text-align: center;
}

.bar img {
  position: absolute;
  height: 40px;
  margin-left: -80px;
  margin-top: -25px;
}

.bar h1 {
  font-family: remetto one;
  font-size: 72px;
  font-weight: 750;
  line-height: 82px;
  color: rgba(255, 255, 255, 1);
  padding-top: 20px;
  font-family: 'Race Sport Free', sans-serif;
}

.bar p {
  font-family:
    Roboto Mono;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: rgba(255, 255, 255, 1);
}

.bar:hover {
  background: linear-gradient(to right, rgba(66, 133, 244, 1), rgba(12, 83, 199, 1));
  box-shadow: 0 10px 32px 0 rgba(1, 123, 253, 0.49);
}

.card {
  margin-top: 350px;
  background-color: #0F1219;
  max-width: 800px;

}

.card1 img {
  position: absolute;
  z-index: 10;
  margin-top: -250px;
  max-width: 55%;
  margin-left: 300px;
  height: 350px;
}

.card2 img {
  position: absolute;
  margin-left:  400px;
  /* margin-top: -1000px; */
  max-width: 55%;
  z-index: 20;
  margin-top: 40px;
  height: 400px;

}

.card3 img {
  position: relative;
  z-index: 5;
  max-width: 55%;
  margin-left: 100px;

}


.card4 img {
  position: absolute;
  z-index: 4;
  max-width: 45%;
  margin-left: 300px;
  margin-top: 40px;
  height: 250px;
  

}

.card5 img {
  position: absolute;
  z-index: 3;
  width: 40%;
  margin-top: -60px;
  margin-left: 130px;
}

/* hover effect on cards */
.card5 img:hover {

  transform: scale(1.1);
  z-index: 30;
}

.card4 img:hover {
  transform: scale(1.1);
  z-index: 30;

}

.card3 img:hover {
  transform: scale(1.1);
  z-index: 30;
}

.card2 img:hover {
  transform: scale(1.1);
  z-index: 30;
}

.card1 img:hover {
  transform: scale(1.1);
  z-index: 30;
}
/* #########   Media queries ############ */

@media only screen and (max-width: 1024px) {

  .sec1 p {
    margin-left: 380px;
  }

  .card3 img {
    margin-left: 30px;
  }

  .card2 img {
    margin-left: 450px;
  }

  .card5 img {
    margin-left: 100px;
  }
  .card{
    margin-left: -50px;
   
  }
}

@media only screen and (max-width: 991px) {
  .sec2 img{
    align-items: center;
    margin-left: 100px;
  }
  .sec2 h3{
    margin-left: 100px;
  }
  .sec2 p{
    margin-left: 100px;
  }
  .sec4{
    margin-left: 200px;
  }
  .bar1{
    margin-left: 200px;
  }
  .bar1 h1{
font-size: 40px;

  }
  .sec7 h1{
    line-height: 40px;
  }
  .sec7 p{
    line-height: 18px;
   
  }
  .sec1 p{
    margin-left: 270px;
    width: 150px;
  }
}


@media only screen and (max-width: 820px) {

  .sec1 h1 {
    margin-left: 150px;
  }

  .sec1 p {
    width: 200px;
    margin-left: 300px;
  }

  .sec2 img {
    padding: 0px;
  }

  .bar h1 {
    font-size: 40px;
  }

}
@media only screen and (max-width: 767px) {
  .sec1 p{
    margin-left: 250px;
    width: 150px;
  }
  .outline h1{
font-size: 80px;
  }
}
@media only screen and (max-width: 412px) {
  .sec1 h1 {
    font-size: 35px;
    margin-left: 180px;
  }

  .sec1 p {
    margin-left: 180px;
    width: 200px;
  }

  .sec2 h3 {
    font-size: 30px;
    margin-left: 150px;
  }

  .sec2 p {
    margin-left: 150px;
  }

  .sec2 img {
    margin-left: 40px;
    width: 300px;

  }

  .sec4 {
    margin-left: 120px;
  }

  .bar {
    margin-left: 100px;
  }

  .sec5 h3 {
    margin-left: 80px;
  }

  .sec5 p {
    margin-left: 80px;
  }

  .sec5 img {
    margin-left: 70px;
  }

  .sec6 {
    margin-top: 40px;
  }

  .sec6 h3 {
    margin-left: 200px;
    margin-top: 30px;
  }

  .sec6 h3 span {
    margin-left: -60px;

  }

  .sec6 img {
    margin-left: 70px;
  }

  .img1 img {
    margin-left: 200px;
    margin-top: 50px;
    width: 400px;
  }

  .sec7 img {
    margin-left: 100px;
    height: 150px;
  }

  .sec7 h1 {
    margin-left: 100px;
  }

  .sec7 p {
    margin-left: 100px;
  }

  .sec8 h1 {
    margin-left: 60px;
    font-size: 50px;
  }

  .sec9 {
    margin-left: 100px;
  }

  .sec10 h2 {
    font-size: 40px;
  }

  .outline h1 {
    font-size: 50px;
    margin-left: 150px;
    margin-top: -40px;
  }

  .card1 img {
    width: 300px;
    margin-left: 300px;
  }

  .card3 img {
    margin-left: 200px;
    height: 200px;
    width: 300px;
  }

  .card5 img {
    margin-left: 200px;
    height: 200px;
    width: 300px;
  }
}

@media only screen and (max-width: 1198px) {

  .card5 img {
    margin-left: 200px;
  }

  .card3 img {
    margin-left: 200px;
  }
}



@media only screen and (max-width: 992px){
  .sec2 img{
    margin-left: -20px;
  }
.sec2 p{
  margin-left: -20px;
}
.sec2 h3{
  margin-left: -20px;
  
}
.card{
  max-width: 70%;
}

}
@media only screen and (max-width: 991px){

.outline{
  margin-left:-20px;
  margin-top: -30px;
}
}

@media only screen and (max-width: 940px){

.card5{
  margin-left: 80px;
}


}
@media only screen and (max-width: 766px) {

  .card2 img {
    height: 300px;
  }

  .card5 img {
    margin-left: 100px;
    width: 300px;
  }

  .card3 img {
    margin-left: 200px;
    height: 200px;
  }

  .card4 img {
    margin-top: -30px;
  }
}


@media only screen and (max-width: 750px){
  .card3{
    margin-left: 70px;
  }
}
@media only screen and (max-width: 662px){


  .card2{
    margin-left: -250px;
  }
.card3{
  margin-left: 10px;
  margin-top: 280px;

}
.card1{
  margin-left: -100px;
}

.card4{
 
  margin-left: -100px;
  margin-top: 150px;
  max-width: 450px;
}
.card5{
  margin-top: 30px;
  margin-left: 100px;
  width: 50px;
}
}

@media only screen and (max-width: 528px) {

  .card2 img {
    margin-left: 450px;
  }

  .card3 img {
    margin-left: 250px;
  }

}

/* @media only screen and (max-width: 348px) {
  .card4 img {
    width: 300px;
  }
} */

@media only screen and (max-width: 971px) {
  .btn5 {
    margin-left: 220px;
    margin-top: -37px;
  }
}

@media only screen and (max-width: 971px) {
  .para10 input {
    width: 250px;
  }

  .btn5 {
    margin-left: -80px;
    margin-top: 5px;
  }
}

@media only screen and (max-width: 821px) {

  .btn5 {
    margin-left: 170px;
    margin-top: -37px;
  }
}
@media only screen and (max-width: 767px) {

  .btn5 {
    margin-left: -85px;
   margin-top: 3px;
  }
}
@media only screen and (max-width: 575px){
  .bar{
    width: 50%;
  }
}
@media only screen and (max-width: 412px){
  .sec2 h3{
   line-height: 30px;
   font-size: 25px;
  }
}

@media only screen and (max-width: 273px) {

  .btn5 {
    margin-left: 170px;
 margin-top: -37px;
  }
  .sec2 h3{
    font-size: 20px;
    line-height: 20px;
    justify-content: center;
  }
 
}
@media only screen and (max-width: 243px) {

  .btn5 {
    margin-left: 140px;
margin-top: -37px;
  }
  .para10 input{
    width: 220px;
  }
}
@media only screen and (max-width: 219px) {

  .btn5 {
    margin-left: -80px;
margin-top: 5px;
  }
  .para10 input{
    width: 150px;
  }
}