*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
   
}
body{

    background-color:  #0F1219;
}

/* navbar  */
.nav-item button{
  background: linear-gradient(to right, rgba(66, 133, 244, 1), rgba(12, 83, 199, 1));
  box-shadow: 0 10px 32px 0 rgba(66, 133, 244, 0.6);
    border: none;
    border-radius: 10px;
    
    padding: 0px 30px;
     
  }
 

  .nav-link {
    color: #FFFFFF;
   
  }
  .nav-link:hover{
    color: white;
  }
 /* main section */
  .para1{
    position: relative;
  }
  .para1 p {
    color: #FFFFFF;
    letter-spacing: 1px;
    font-family: Roboto Mono;
    font-size: 19px;
    margin-top: 30px;
  }

  .para1 h1{
    color:#4285F4;
   
    font-family:  Rammetto One;
    margin-top: 120px;
    font-size: 90px;
  }
  .head h1{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .para1 input {
    width: 750px;
    background-color: #161B27;
     border:none; 
    border-radius: 43px 5px 5px 5px;
    height: 80px;
    padding-left:100px;
    margin-top: 30px;
  }
  ::placeholder{
    font-size: 25px;
  }
  .btn{
    position: absolute; 
    border-radius: 5px;
    margin-top: 45px;
    right: 210px;
    width: 130px;
    border: none; 
    height: 40px;
    cursor: pointer;
    color: white;
    background: linear-gradient(to right, rgba(66, 133, 244, 1), rgba(12, 83, 199, 1));
  box-shadow: 0 10px 32px 0 rgba(66, 133, 244, 0.6);
    
  }
  .btn a {
    color: white;
    text-decoration: none;
  }
  .para1 img{
    height: 350px;
  }

/* footer section */
  .para7{
    margin-top: 50px;
   
  }
  .para7 img{
    width:  300px;
  }
  .para7 p {
    color: gray;
    margin-top: 30px;
    font-family: cabin;
  }
  .para8{
    margin-top: 50px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 30px;
    font-family: cabin;
  }
  .para9{
    color: #FFFFFF;
    line-height: 30px;
    font-size: 12px;
    margin-top: 50px;
    font-family: cabin;
  }
  .para10{
    color: white;
    margin-top: 50px;
  }
  .para10 input{
    width: 300px;
    background-color:  black;
    border: none;
    border-radius: 20px;
    height: 40px;
    padding-left: 20px;
    z-index: 8;
  }
  .btn5{
    background: linear-gradient(to right, rgba(66, 133, 244, 1), rgba(12, 83, 199, 1));
    border: none;
    padding: 0px 20px;
    height: 35px;
    border-radius: 25px;
    width: 80px;
    position: absolute;
    margin-left: -70px;
     margin-top: 3px;
     z-index: 10;
  
  }

  #place::placeholder{
    font-size: 15px;
   
  }
  .para10 p {
    font-size: 10px;
    margin-top: 8px;
    color: gray;
    font-family: cabin;
  }
  .para10 img{
    height: 50px;
    padding:10px;
  }
  .para11{
    margin-top: 150px;
    background-color:#191E2C;
  
  }
  .para12{
    margin-top: 30px;
  }
  .para13{
    background-color: #131620;
    color: #FFFFFF;
    font-family: cabin;
    font-size: 12px;
  }
  .para13 p {
    margin-top: 20px;
    font-family: cabin;
  }