* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {

    background-color:
        rgba(15, 18, 25, 1);
    overflow-x: hidden;
}

.wrapper {
    position: relative;
    overflow: hidden;
}

.dashboard1 img {
    height: 40px;
    margin-left: 30px;
}

.dashbaord5 {
    margin-left: -10px;
    color: gray;
}

.sidebar-expanded .dashboard4 {
    width: 400px;
}

.sidebar-expanded .das {
    margin-left: -20px;
}


/* ######side bar###### */
.sidebar {
    position: fixed;
    height: 100vh !important;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    width: 230px;
    padding: 10px;
    background-color: rgb(9, 11, 17);
}

/* ####### side bar hide style ####### */
.toggle-icon {
    color: white;
    margin-left: 250px;
    cursor: pointer;
    font-size: 30px;
    position: relative;
}
#toggleButton{
    background-color:
    rgba(15, 18, 25, 1);
    color: white;
    margin-left: 250px;
    cursor: pointer;
    font-size: 30px;
    position: fixed;
    display: none;
    border: none;
    cursor: pointer;
 
}

.sidebar-expanded .toggle-icon {
    margin-left: 100px;
}

.sidebar-expanded hr {
    width: 100%;
    margin-left: 100px;
}

.sidebar-expanded .sidebar-header img {
    width: 100%;
    height: 50px;
}

.sidebar-expanded .list-unstyled li span {
    display: none;
}

.sidebar-expanded {
    width: 100px;
}

.sidebar-expanded .main-content {
    margin-left: 10px;
}

/* ####### side bar hide style end ####### */



.sidebar .sidebar-header {
    padding: 10px;
    margin-top: -40px;
    border-bottom: 1px solid #eee;
}



.sidebar ul li {
    padding: 1px 1px;
}




.sidebar ul.components {
    padding: 5px 0;
    margin-top: 40px;
}

.sidebar ul li a {
    padding: 3px;
    line-height: 5px;
    border-radius: 5px;
    font-size: 15px;
    position: relative;
    font-weight: 400;
    display: block;
}

.sidebar ul li a span {
    text-transform: capitalize;
    display: inline-block;
}

.sidebar ul li a img {
    position: relative;
    margin-right: 10px;
    top: 2px;
    color: #555555;
    /* margin-left: 5px; */
    margin-left: -30px;
}

.dashbaord3 img {
    height: 50px;
}


.list-unstyled li {
    margin-top: 20px;
    margin-left: 20px;

}

.list-unstyled li a {
    color: white;
    text-decoration: none;
}

.list-unstyled img {
    padding: 0 20px;
}





/* ###### nevbar #######*/

.menu-container {
    display: flex;
}

nav {
    align-items: center;
    float: right;
    color: #fff;
    padding: 10px;
}

/* Dropdown menu styles */
.dropdown {
    position: relative;
    margin-right: 20px;
    margin-top: 15px;
}

.dropdown-btn {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color:
        rgba(15, 18, 25, 1);
    border-radius: 5px;
    padding: 10px;
}

.dropdown-menu li {
    margin-bottom: 5px;

}

.dropdown-menu li a {
    color: white;
}

.dropdown-menu li:last-child {
    margin-bottom: 0;
}

.dropdown-btn:focus+.dropdown-menu {
    display: block;
}

/* Image and text container styles */
.nav-content {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.image-container img {
    width: 50px;
    height: 60px;
    border-radius: 50%;
    margin-right: -30px;
}

.text-container p {
    margin: 0;
    color: #fff;
    font-size: 14px;
}

.text-container {
    display: flex;
}

/* Styles for notifications */
.notifications {
    position: relative;
    margin-top: 20px;
}

.notification-btn {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    position: relative;
}

.badge {
    background-color: red;
    color: #fff;
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: 10px;
}

.notification-btn img {
    width: 30px;
}

.notification-dropdown {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background-color:
        rgb(10, 12, 17);
    padding: 10px;
    border-radius: 5px;
    min-width: 200px;
    z-index: 12;
}

.notif-item {
    display: flex;
    margin-left: -30px;

}

.notif-item:hover {
    background-color: rgb(63, 56, 56);
    cursor: pointer;
    margin-left: 0px;
}

.notif-item img {
    height: 40px;
    margin-left: 30px;
    margin-top: 20px;
}

.notif-item h4 {
    font-size: 12px;
    margin-left: 10px;

    color: gray;
}

.notif-item p {
    font-size: 12px;
    color: gray;
}

.text i {
    margin-left: 70px;
    color: gray;
}

.notification-btn:focus+.notification-dropdown {
    display: block;
}

.clr {
    background-color:
        rgba(25, 30, 44, 1);
    height: 70px;
    border-radius: 2px;
    margin-right: 20px;
    width: 150px;
    text-align: center;

}

.clr1 {
    background-color:
        rgba(25, 30, 44, 1);
    height: 70px;
    width: 150px;
    border-radius: 2px;
    margin-right: 20px;
    text-align: center;
}

.top-navbar {
    width: 100%;
    z-index: 9;
    position: relative;

}


/*  ####### main content ###### */



.main-content {
    position: relative;
    padding: 40px 30px 30px 30px;
    overflow-x: hidden;
    width: 100%;
    margin-left: 60px;

}

hr {
    width: 80%;
    margin-left: 230px;
    color: white;
    margin-top: 50px;
}

.main {
    margin-top: 100px;
    margin-left: 150px;
    height: 300px;
}
.main2{
    margin-left: 40px;
}
.react{
    margin-left:150px;
}
.para {
    display: flex;
    margin-top: 30px;
    color: white;
    font-family: Cabin;
    font-size: 13px;
    justify-content: center;
}

.para h2 {
    font-size: 13px;
    margin-top: 5px;
}

.para img {
    height: 20px;
    padding: 0 10px;

}

.para1 {
    color: white;
    margin-top: -300px;
    margin-left: 700px;
    display: flex;


}

.para1 h4 {
    padding-left: 50px;
    padding-right: 30px;
}

.serc {
    margin-left: 800px;
    color: white;
    margin-top: 30px;
}

.serc input {
    height: 40px;
    width: 300px;
    border-radius: 20px;
    border: none;
    background-color: rgba(22, 27, 39, 1);
}

.serc img {
    margin-top: 40px;
    margin-bottom: 40px;
}

.serv {
    margin-left: 800px;
    color: #FFFFFF;

}

/* ###### Toggle button start ###### */
.check {
    display: flex;
}

input[type="checkbox"] {
    display: none;
}

/* toggle style */
.toggle {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 30px;
    background-color: blue;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 200px;
}

.slider {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.2s ease;
}

input[type="checkbox"]:checked+.slider {
    transform: translateX(30px);
    background-color: white;
}

.toggle:before {

    position: absolute;
    top: 4px;
    left: 8px;
    color: white;
    font-size: 14px;
}

.toggle:after {

    position: absolute;
    top: 4px;
    right: 8px;
    color: white;
    font-size: 14px;
}

input[type="checkbox"]:checked+.slider:before {
    content: "";
    background-color: white
}



/* ###### Toggle button  end ###### */
.coef {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
}

.coef h5 {
    margin-right: 40px;
}

.serv button {
    width: 400px;
    height: 50px;

    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, rgba(66, 133, 244, 1), rgba(12, 83, 199, 1));
    box-shadow: 0 9px 32px 0 rgba(66, 133, 244, 0.6);
    margin-bottom: 60px;
    margin-top: 20px;
}

.para2 {
    color: white;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
}

.para2 h5 {
    margin-left: 10px;
}

.para3 {
    color: white;
    font-size: 13px;
    display: flex;
    margin-top: 20px;

}

.para3 p {
    margin-top: 30px;
}

.para3 button {
    width: 150px;
    height: 40px;
    border: none;
    background: linear-gradient(to right, rgba(66, 133, 244, 1), rgba(12, 83, 199, 1));
    box-shadow: 0 9px 32px 0 rgba(66, 133, 244, 0.6);
    margin-left: 270px;
    color: white;
    font-family: cabin;
}

.paraa {
    background-color: rgba(22, 27, 39, 1);
}

.react {
    color: #FFFFFF;
}

.react h2 {
    margin-left: 100px;
    margin-top: -600px;
}

.rect {
    margin-top: -550px;
    margin-left: 100px;
    display: flex;
 
}

.rect1 {
    margin-top: -250px;
    display: flex;
    margin-left: 150px;
}

.para4 {
    color: white;
    font-size: 13px;
    display: flex;
    margin-top: 20px;

}

.para4 p {
    margin-top: 30px;
    margin-left: 20px;
}

.para4 button {
    width: 150px;
    height: 40px;
    border: none;
    background: linear-gradient(to right, rgba(66, 133, 244, 1), rgba(12, 83, 199, 1));
    box-shadow: 0 9px 32px 0 rgba(66, 133, 244, 0.6);
    margin-left: 30px;
    color: white;
    font-family: cabin;
    margin-top: 20px;
}

.para5 {
    color: white;
    font-size: 13px;
    display: flex;


}

.para5 p {
    margin-top: 30px;
    margin-left: 20px;
}

.para5 button {
    width: 180px;
    height: 40px;
    border: none;
    background: linear-gradient(to right, rgba(66, 133, 244, 1), rgba(12, 83, 199, 1));
    box-shadow: 0 9px 32px 0 rgba(66, 133, 244, 0.6);
    margin-left: 30px;
    color: white;
    font-family: cabin;
    margin-top: 30px;

}

.para5 img {
    margin-top: 20px;
}

.view {
    display: flex;
   
    margin-top: 50px;
    color: white;
    margin-left: 650px;
    margin-bottom: 20px;
}

.view p,
button {
    padding: 0px 60px;
}

.view button {
    background: linear-gradient(to right, rgba(66, 133, 244, 1), rgba(12, 83, 199, 1));
    box-shadow: 0 9px 32px 0 rgba(66, 133, 244, 0.6);
    border: none;
    border-radius: 10px;
    padding: 0px 30px;
    height: 40px;
}

/* ######list items  ######## */
.view-list1 {
    margin-top: 50px;
}

.view-list {
    display: flex;
    margin-top: 160px;
    color: white;
    margin-left: 700px;
    /* border-bottom: 1px solid gray; */
}

.view-list p,
button {
    padding: 0px 20px;
}

.view-list img {
    height: 50px;

}

.view-list button {
    background: linear-gradient(to right, rgba(66, 133, 244, 1), rgba(12, 83, 199, 1));
    box-shadow: 0 9px 32px 0 rgba(66, 133, 244, 0.6);
    border: none;
    border-radius: 10px;

    padding: 0px 30px;
    height: 40px;
}



.view-list2 {
    display: flex;

    
    color: white;
    margin-left: 700px;
    /* border-bottom:  1px solid gray; */
}

.view-list2 p,
button {
    padding: 0px 20px;
}

.view-list2 img {
    height: 50px;

}

.view-list2 button {
    background: linear-gradient(to right, rgba(66, 133, 244, 1), rgba(12, 83, 199, 1));
    box-shadow: 0 9px 32px 0 rgba(66, 133, 244, 0.6);
    border: none;
    border-radius: 10px;

    padding: 0px 30px;
    height: 40px;
}


/* list 3 */


.view-list3 {
    display: flex;

    
    color: white;
    margin-left: 700px;
    /* border-bottom:  1px solid gray; */
}

.view-list3 p,
button {
    padding: 0px 20px;
}

.view-list3 img {
    height: 50px;

}

.view-list3 button {
    background: linear-gradient(to right, rgba(66, 133, 244, 1), rgba(12, 83, 199, 1));
    box-shadow: 0 9px 32px 0 rgba(66, 133, 244, 0.6);
    border: none;
    border-radius: 10px;

    padding: 0px 30px;
    height: 40px;
}

/* list 4 */

.view-list4 {
    display: flex;

    
    color: white;
    margin-left: 700px;
    /* border-bottom:  1px solid gray; */
}

.view-list4 p,
button {
    padding: 0px 20px;
}

.view-list4 img {
    height: 50px;

}

.view-list4 button {
    background: linear-gradient(to right, rgba(66, 133, 244, 1), rgba(12, 83, 199, 1));
    box-shadow: 0 9px 32px 0 rgba(66, 133, 244, 0.6);
    border: none;
    border-radius: 10px;

    padding: 0px 30px;
    height: 40px;
}

/* list 5 */
.view-list5 {
    display: flex;

    
    color: white;
    margin-left: 700px;
    /* border-bottom:  1px solid gray; */
}

.view-list5 p,
button {
    padding: 0px 20px;
}

.view-list5 img {
    height: 50px;

}

.view-list5 button {
    background: linear-gradient(to right, rgba(66, 133, 244, 1), rgba(12, 83, 199, 1));
    box-shadow: 0 9px 32px 0 rgba(66, 133, 244, 0.6);
    border: none;
    border-radius: 10px;

    padding: 0px 30px;
    height: 40px;
}


/* list 6 */

.view-list6 {
    display: flex;

    
    color: white;
    margin-left: 700px;
    /* border-bottom:  1px solid gray; */
}

.view-lis62 p,
button {
    padding: 0px 20px;
}

.view-list6 img {
    height: 50px;

}

.view-list6 button {
    background: linear-gradient(to right, rgba(66, 133, 244, 1), rgba(12, 83, 199, 1));
    box-shadow: 0 9px 32px 0 rgba(66, 133, 244, 0.6);
    border: none;
    border-radius: 10px;

    padding: 0px 30px;
    height: 40px;
}
/* list 7 */
.view-list7 {
    display: flex;

    
    color: white;
    margin-left: 700px;
 
    /* border-bottom:  1px solid gray; */
}
.list {
    margin-top: 350px;
}
.view-list7 p,
button {
    padding: 0px 20px;
}

.view-list7 img {
    height: 50px;

}

.view-list7 button {
    background: linear-gradient(to right, rgba(66, 133, 244, 1), rgba(12, 83, 199, 1));
    box-shadow: 0 9px 32px 0 rgba(66, 133, 244, 0.6);
    border: none;
    border-radius: 10px;

    padding: 0px 30px;
    height: 40px;
}

/* list 8 */
.view-list8 {
    display: flex;

    
    color: white;
    margin-left: 700px;
    /* border-bottom:  1px solid gray; */
}

.view-list8 p,
button {
    padding: 0px 20px;
}

.view-list8 img {
    height: 50px;

}

.view-list8 button {
    background: linear-gradient(to right, rgba(66, 133, 244, 1), rgba(12, 83, 199, 1));
    box-shadow: 0 9px 32px 0 rgba(66, 133, 244, 0.6);
    border: none;
    border-radius: 10px;

    padding: 0px 30px;
    height: 40px;
}



.list>div {
    display: none;
}

.list>.show {
    display: flex;


}

.list>.show:nth-child(1) {
    margin-top: -330px;
}

.list>.show:nth-child(2) {
    margin-top: 10px;
}

.list>.show:nth-child(3) {
    margin-top: 10px;
}




/*=============== media queries==============*/


/*=============== navbar responsive code==============*/



/*=============== navbar responsive code end==============*/

/* ==============main page responsive code start ===========*/



@media only screen and (max-width:2572px){
.serv{
    margin-left: 750px;
}
.serc{
    margin-left: 750px;
}
.para1{
    margin-left: 750px;
}



}
@media only screen and (max-width:1364px){
    .serv{
        margin-left: 700px;
    }
    .serc{
        margin-left: 700px;
    }
    .para1{
        margin-left: 700px;
    }
}

@media only screen and (max-width:1286px){
    .rect{
        margin-left: 280px;
       margin-top: 10px;
    }
    .full-list{
     margin-left: -300px;
     margin-top: 50px;
     margin-bottom: 100px;
   
    }
    .view {
    
        margin-left: 350px;
        margin-top: 100px;
    }
    .react h2{
        margin-top: -50px;
        margin-left: 300px;
    }
    .rect1{
        margin-top: 50px;
        margin-left: 360px;
    }
    
    .main{
        width: 500px;
        margin-left: 200px;
    }   
    .para3 button{
        margin-left:160px;
        margin-top: 20px;
    } 

}
@media only screen and (max-width:1199px){
    .main{
        margin-left: 150px;
        width: 450px;
    }
    .para1{
        margin-left: 600px;
    }
    .serc{
        margin-left: 600px;
    }
    .serv{
        margin-left: 600px;
    }
    .serv button{
        width: 250px;
    }
    .toggle{
        margin-left: 110px;
    }
    .para3 button{
        margin-left: 110px;
        margin-top: 15px;
    }
}
@media only screen and (max-width:1105px){
.main{
    margin-left: 200px;
}
}
@media only screen and (max-width:992px) {
    .sidebar {
        display: none;
    }

    .main {
        margin-left: 20px;
    }
    .serc{
        margin-left: 450px;
    }
    .para1{
        margin-left: 450px;
    }
    .view{
        margin-left: 150px;
    }
    .full-list{
        margin-left: -500px;
    }
    .react h2{
        margin-left: 100px;
    }
    .rect1{
        margin-left: 250px;
    }
    .rect{
        margin-left: 100px;
    }
.serv{
    margin-left: 450px;
}

    .top-navbar {
        margin-left: -50px;

    }
    .coef h5{
        margin-right: 190px;
    }

    hr {
        width: 100%;
        margin-left: 0px;
    }

    .clr {
        width: 150px;
        text-align: center;
    }

    .clr1 {
        width: 150px;
        text-align: center;
    }
    #toggleButton {
        display: block;
       
    }
    .toggle-icon{
        display: none;
    }
}

@media only screen and (max-width:918px){
    .main{
        width: 350px;
        margin-left: 10pxpx;
    }
    .serc{
        margin-left: 350px;
    }
    .serv{
        margin-left: 350px;
    }
    .para1{
        margin-left: 300px;
    }
    .rect1{
        display: none;
    }
    .rect{
        display: none;
    }
    .react h2{
        display: none;
    }

}
@media only screen and (max-width:990px){

.rect{
    width: 100%;
}
.view{
    margin-top: 40px;
    margin-left: 50px;
}
.full-list{
    margin-left: -600px;
}
.para4{
    margin-left: -20px;
}
.pic-img2{
    margin-left: 50px;
}
.pic-img1{
    margin-left: 50px;
}
.rect1{
    margin-left: 120px;
}

.pic3{
    margin-left: 30px;
}
.para5{
    margin-left: 40px;
}



}

@media only screen and (max-width:838px){
    .full-list{
        margin-left: -600px;
    }
    .view{
        margin-left: 50px;
        margin-top: 20px;
    }
    .rect{
        margin-left: 100px;
    }
}

@media only screen and (max-width:767px){
    .main{
        margin-left: -80px;
    }
    .serc{
        margin-left: 250px;
    }
    .serv{
        margin-left: 250px;
    }
    .para1{
        margin-left: 250px;
    }
    .view{
        margin-left: -30px;
    }
    .full-list{
        margin-left: -680px;
    }
}
@media only screen and (max-width:679px){
    .main{
       margin-left: 70px;
       width: 400px;
    }
    .serc{
        margin-left: 100px;
        /* margin-top: 500px; */
    }
    .serv{
        margin-left: 100px;
    }
    .para1{
        margin-left: 50px;
        margin-top: 150px;
    }
}

@media only screen and (max-width:497px){


.full-list{
    margin-left: -700px;

}
.view{
    margin-left: -50px;
}


}

@media only screen and (max-width:475px){
.main{
    margin-left: 30px;
}
.full-list{
    margin-left: -730px;
}
.view{
    margin-left: -80px;
}
.serc{
    margin-left: 50px;
}
.serv{
    margin-left: 50px;
}
.para1{
    margin-left: 10px;
}

}
@media only screen and (max-width:429px){
    .main{
        width: 350px;
    }
    .serc{
        margin-left: 20px;
    }
    .serv{
        margin-left: 20px;
    }
.view p{
    padding: 0px 20px;
    margin-left: 30px;
 
}
.view button{
    margin-left: 60px;
    width: 80px;
}
.full-list p,button{
    padding: 0px 10px;
}
.full-list button{
    padding: 0px 10px;
}
}
@media only screen and (max-width:375px){

.main{
    width: 300px;
}
.para3 button{
    margin-left: -20px;
}
.serc{
    margin-left: -20px;
}
.serv{
    margin-left: -20px;
}
.para1{
    margin-left: -30px;
}


.full-list p{
    font-size: 10px;
}
.view p{
    font-size: 12px;
}
.view button{
    margin-left: 20px;
}

}
@media only screen and (max-width:327px){
    .main{
        width: 250px;
    }
    .serc p{
font-size: 12px;
    }
    .serc input{
        width:250px;
    }
    .serc img{
        width: 250px;
    }
    .serv p{
        font-size: 12px;
    }
    .para1 h4{
        font-size: 15px;
    }
}
@media only screen and (max-width:299px){
.full-list p{
padding:0px 10px;
margin-left: -10px;
}
.full-list button{
    padding:  0px 10px;
    margin-left: -10px;
}
.full-list img{
    margin-left: -10px;
}
.view p{
    padding: 0px 10px;
}


}

@media only screen and (max-width:275px){

    .coef button{
        width: 50px;
      margin-left: 20px;
    }


}
/* ######### #main code  responsive end  #######33 */

@media only screen and (max-width:692px) {

    .top-navbar {
        margin-left: 70px;

    }

    .clr {
        width: 100px;
        text-align: center;
    }

    .clr1 {
        width: 100px;
        text-align: center;
    }


}


@media only screen and (max-width:482px) {

    .text-container {
        padding: 0px;
    }

    .clr {
        width: 80px;
    }

    .clr p {
        font-size: 12px;
        margin-top: 15px;

    }

    .clr .num {
        font-size: 12px;
        margin-top: 15px;

    }

    .clr1 {
        width: 80px;
    }

    .clr1 p {
        font-size: 12px;
        margin-top: 15px;

    }

    .clr1 .num {
        font-size: 12px;
        margin-top: 15px;

    }
}


@media only screen and (max-width:408px) {

    .dropdown-btn {
        font-size: 15px;
        margin-right: 0px;
    }

    .image-container img {
        width: 30px;
    }
}

@media only screen and (max-width:376px) {

    .dropdown-btn {
        font-size: 12px;

    }

    .image-container img {
        width: 30px;
    }
.clr{
margin-right: 10px;
width:70px;
}
    .clr p {
        font-size: 10px;
    }

    .clr .num {
        font-size: 10px;
    }
.clr1{
    margin-right: 10px;
    width: 70px;
}
    .clr1 p {
        font-size: 10px;
    }

    .clr1 .num {
        font-size: 10px;

    }
}
@media only screen and (max-width:330px) {

    .dropdown-btn {
        font-size: 10px;

    }

  
.clr{
margin-right: 5px;
width:60px;
}
    .clr p {
        font-size: 8px;
    }

    .clr .num {
        font-size: 8px;
    }
.clr1{
    margin-right: 5px;
    width: 60px;
}
    .clr1 p {
        font-size: 8px;
    }

    .clr1 .num {
        font-size: 8px;

    }
}