* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {

    background-color:
        rgba(15, 18, 25, 1)
}

.wrapper {
    position: relative;
    overflow: hidden;
}

.dashboard1 img {
    height: 40px;
}

.dashboard img {
    height: 30px;

}


/* ######side bar###### */
.sidebar {
    position: fixed;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    width: 260px;
    transition: all 0.3s;

    box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

/* ####### side bar hide style ####### */
.toggle-icon{
    color: white;
    margin-left: 280px;
    cursor: pointer;
    font-size: 30px;
}

.sidebar-expanded .list-unstyled li  img{
    margin-left: 0px
}
.sidebar-expanded  .sidebar-header img{
    width:100%;
    height:  50px;
}

  .sidebar-expanded .list-unstyled li span {
    display: none;
  }
.sidebar-expanded {
    width: 100px;
  }
  .sidebar-expanded .main-content{
    margin-left: 10px;
  }

  /* ####### side bar hide style end ####### */

  /* scroll bar style */
.sidebar::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    background-color: #eee;
    display: none;
    margin-top: 50px;
}

.sidebar::-webkit-scrollbar-thumbs {
    width: 5px;
    border-radius: 10px;
    background-color: #333;
    display: none;
}


.sidebar:hover::-webkit-scrollbar {
    display: block;
}

.sidebar:hover::-webkit-scrollbar-thumbs {
    display: block;
}
/* scroll bar style end */
.sidebar .sidebar-header {
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.sidebar ul li {
    padding: 1px 1px;
}



.sidebar ul.components {
    padding: 5px 0;
    margin-top: 40px;
}

.sidebar ul li a {
    padding: 3px;
    line-height: 5px;
    border-radius: 5px;
    font-size: 15px;
    position: relative;
    font-weight: 400;
    display: block;
}

.sidebar ul li a span {
    text-transform: capitalize;
    display: inline-block;
}
.sidebar ul li a img {
    position: relative;
    margin-right: 10px;
    top: 2px;
    color: #555555;
    margin-left: 5px;
}

.list-unstyled li {
    margin-top: 30px;
    margin-left: 20px;
}

.list-unstyled li a {
    color: white;
    text-decoration: none;
}

.list-unstyled img {
    padding: 0 20px;
}





/* ###### nevbar #######*/
 
 
  .menu-container{
    display: flex;
  }
  nav {
    align-items: center;
    float: right;
    color: #fff;
    padding: 10px;
  }
  
  /* Dropdown menu styles */
  .dropdown {
    position: relative;
    margin-right: 20px;
    margin-top: 15px;
  }
  
  .dropdown-btn {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #444;
    border-radius: 5px;
    padding: 10px;
  }
  
  .dropdown-menu li {
    margin-bottom: 5px;
  }
  
  .dropdown-menu li:last-child {
    margin-bottom: 0;
  }
  
  .dropdown-btn:focus + .dropdown-menu {
    display: block;
  }
  
  /* Image and text container styles */
  .nav-content {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .image-container img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: -10px;
 
  }
  
  .text-container p {
    margin: 0;
    color: #fff;
    font-size: 14px;
  }
  .text-container {
    display: flex;
  }
  
  /* Styles for notifications */
  .notifications {
    position: relative;
    margin-top: 20px;
    margin-right: 30px;
  }
  
  .notification-btn {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    position: relative;
  }
  
  .badge {
    background-color: red;
    color: #fff;
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
  }
  
  .notification-btn img {
    width: 30px;
  }
  
  .notification-dropdown {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    min-width: 200px;
  }
  
  .notification-btn:focus + .notification-dropdown {
    display: block;
  }
  .clr {
    background-color:
        rgba(25, 30, 44, 1);
    height: 70px;
    border-radius: 2px;
    margin-right: 20px;
    width: 100%;
  
  }
  
  .clr1 {
    background-color:
        rgba(25, 30, 44, 1);
    height: 70px;
    width: 100%;
    border-radius: 2px;
    margin-right: 40px;
  }

  .top-navbar {
    width: 100%;
    z-index: 9;
    position: relative;

}






/* .button-box  .active{
      background-color:rgba(15, 18, 25, 1);
      height: 50px;
       border-radius: 50px;
      width:  150px;
} */
/* .button-box :hover {
    background-color: rgba(15, 18, 25, 1);
    border-radius: 50px;
    width: 150px;
}  */




/* ######## main content ######## */

.main-content {
    position: relative;
  
    padding: 0 40px;

}


.dsh{
    background-image: url('../img/imag.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 400px;
    width: 500px;
    margin-left:  300px;
    margin-top: 200px;
    position: relative;
    display: flex;
    font-family: cabin;
    border-radius: 20px;
}


.dsh2{
margin-top:  330px;
display: flex;
color: white;
padding: 0px 40px;

}

.btnnn  button{
    margin-left: -60px;
  
    background-color:rgb(15, 147, 190);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 1px  rgb(79, 197, 236);
    padding: 0px 20px;
    height: 50px;
     color: #FFFFFF;
     width: 150px;
    
}

.dsh1 {
    margin-left: 1030px;
    margin-top: -450px;
    width: 230px;
    height: 500px;
    border-radius: 30px;
    background-color: rgb(28, 34, 47, 1);
}

.dsh1 p {
    font-family: poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 60px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    justify-content: start;
    border-bottom: 2px solid rgba(51, 51, 51, 1);

}

.dsh1 h1 {
    color: white;
    font-family: cabin;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    
}

.dsh1 button {
    background-color: rgb(15, 147, 190);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 1px rgb(79, 197, 236);
    padding: 0px 20px;
    height: 50px;
    color: #FFFFFF;
    width: 100px;
    margin-left: 60px;
    margin-top: -60px;

}

.dsh1 .red {
    color: red;
}

/* .like {
    margin-left: -30px;

} */
.like img{
    margin-left: -20px;
}

.dsh1 img {
    color: rgb(104, 104, 241);
    height: 30px;
    padding: 0px 10px;
}



.para {
    color: white;
    /* margin-top: -110px; */
    font-size: 15px;
    display: flex;
    margin-left: 50px;
    margin-top: 20px;

}

.para3 {
    margin-left: 200px;
}

.para2 {
    margin-left: -80px;
    color: white;
    margin-top: 15px;

}

.para img {
    width: 40%;
}

.para1 {
    display: flex;
    /* margin-left: 10px; */
    color: white;
    margin-top: 20px;
    margin-left: -170px;
}
.para1 p {
    margin-top: -5px;
}

.para1 img {
    height: 15px;
    /* margin-top: 10px; */
}
.social i {
    display: flex;
    margin-top: 50px;
    color: blue;
}

.button-box {
    display: flex;
    background-color: rgba(22, 27, 39, 1);
    border-radius: 50px;
    width: 700px;

    position: relative;


    margin-left: 300px;
    margin-bottom: 30px;
    height: 50px;
    margin-top: 100px;



}

.button-box p {
    padding: 0px 25px;
    color: gray;
    margin-top: 15px;

}

.btn-dv1 {

    font-size: 13px;
    margin-left: 90px;
    text-align: center;

    background-color: rgba(28, 34, 47, 1);
    color: white;

    line-height: 35px;

    margin-bottom: 140px;
    position: relative;
    margin-top: -200px;

    width: 230px;
    height: 700px;
    border-radius: 30px;

}
.btn-dv1 h1{
    font-size: 25px;
    margin-top: 30px;
}
.btn-dv1 p, img{
    padding: 0px 10px;
}
.btn-dv1 img{
    height: 70px;
    margin-left: -20px;
}
.head{
    color: gray;
   /* margin-right: 340px; */
   display: block;
   margin-left: -730px;
    margin-top: 80px;
   }
   .head img{
   height: 200px;
   margin-left: -30px;
   }
   .head p{
    font-size: 20px;
    color: white;
    margin-top: 30px;
   }
/* #######n  main conntent style end ######## */