*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
   
}
body{

    background-color:  #0F1219;
 
  
}

/* navbar style */

.nav-item button{
  background: linear-gradient(to right, rgba(66, 133, 244, 1), rgba(12, 83, 199, 1));
  box-shadow: 0 10px 32px 0 rgba(1, 123, 253, 0.49);
  border: none;
  border-radius: 10px;
  padding: 0px 30px;
   
}

.nav-link {
  color: white;
}
.nav-link:hover{
  color: white;
}


/* main content style */
.sec1{
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
 

}

.sec1 h1{
    color: #FFFFFF;
    font-family: Rammetto One;
    font-size: 80px;
    font-weight: 300px; 
    margin-top: 180px;
}
.sec1 p{
    background-color: #191E2C;
     height: 50px;
     padding-top: 15px;
     text-align: center;
     margin-left: 470px;
     width: 200px;
     border-radius: 7px;
     
    font-family: 
    Poppins;
    margin-top: 20px;
}
.sec1 span{
    color: gray;
}
.sec2{
  color: #FFFFFF;
  font-family: cabin;
  margin-top: 100px;
}
.sec3{
  color: #FFFFFF;
  margin-top: 50px;
  font-family: cabin;
}
.sec4{
  color: #FFFFFF;
  font-family: cabin;
  margin-top: 100px;
  line-height: 80px;
}
.sec5{
  color: #FFFFFF;
  margin-top: 50px;
  font-family: cabin;
}
.sec6{
  color: #FFFFFF;
  margin-top: 60px;
  font-family: cabin;
}
.sec7{
  color: #FFFFFF;
  margin-top: 60px;
  font-family: cabin;
}
.sec8{
  color: #FFFFFF;
  margin-top: 60px;
  font-family: cabin;
}
.sec9{
  color: #FFFFFF;
  margin-top: 60px;
  font-family: cabin;
}
.sec10{
  color: #FFFFFF;
  margin-top: 60px;
  font-family: cabin;
}
/* ######   footer   ##### */
.para7{
  margin-top: 50px;
 
}
.para7 img{
  width:  300px;
}
.para7 p {
  color: gray;
  margin-top: 30px;
  font-family: cabin;
}
.para8{
  margin-top: 50px;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 30px;
  font-family: cabin;
}
.para9{
  color: #FFFFFF;
  line-height: 30px;
  font-size: 12px;
  margin-top: 50px;
  font-family: cabin;
}
.para10{
  color: white;
  margin-top: 50px;
}
.para10 input{
  width: 300px;
  background-color:  black;
  border: none;
  border-radius: 20px;
  height: 40px;
  padding-left: 20px;
  z-index: 8;
}
.btn5{
  background: linear-gradient(to right, rgba(66, 133, 244, 1), rgba(12, 83, 199, 1));
  border: none;
  padding: 0px 20px;
  height: 35px;
  border-radius: 25px;
  width: 80px;
  position: absolute;
  margin-left: -70px;
   margin-top: 3px;
   z-index: 10;

}

#place::placeholder{
  font-size: 15px;
 
}
.para10 p {
  font-size: 10px;
  margin-top: 8px;
  color: gray;
  font-family: cabin;
}
.para10 img{
  height: 50px;
  padding:10px;
}
.para11{
  margin-top: 150px;
  background-color:#191E2C;

}
.para12{
  margin-top: 30px;
}
.para13{
  background-color: #131620;
  color: #FFFFFF;
  font-family: cabin;
  font-size: 12px;
}
.para13 p {
  margin-top: 20px;
  font-family: cabin;
}
                                     /* ##### responsive code   ######### */
@media only screen and (max-width: 412px){
 .btn5{
  margin-left: -90px;
  margin-top: 5px;
 }
}
@media  only screen and  (max-width: 280px){
  .para7 img{
   width: 200px;
  }

 }
 @media  only screen and  (max-width: 382px){
.btn5{
  margin-left: -200px;
}
 }

 @media only screen and (max-width: 414px){

 .btn5{
margin-left: -200px;
 }
 
    
 }
 @media only screen and (max-width: 971px){

  .btn5{
 margin-left: 220px;
 margin-top: -37px;
  }
}
@media only screen and (max-width: 912px){

  .btn5{
 margin-left: -80px;
 margin-top: 2px;

  }
  .para10 input{
    width: 250px;
  }
}
@media only screen and (max-width: 767px){


  .btn5{
    margin-left: -800px;
    margin-top: 2px;
   
     }
}

@media only screen and (max-width: 821px){

  .btn5{
    margin-left: 170px;
    margin-top: -38px;
  }
}
@media only screen and (max-width: 412px){
.btn5{
  margin-left: -80px;
margin-top: 5px;
}
  .para10 input  {
    width: 360px;
    }
}
@media only screen and (max-width: 383px){
  .btn5{
    margin-left: 275px;
    margin-top: -37px;

  }
  
  }
  @media only screen and (max-width: 365px){
    .btn5{
      margin-left: -75px;
     margin-top: 3px;
    }
    }
    @media only screen and (max-width: 283px){
      .btn5{
        margin-left: 175px;
        margin-top: -37px;
   
    
      }
    }
    @media only screen and (max-width: 280px){
  .para10 input{
    width: 200px;
  }
  .btn5{
    margin-left: -50px;
 margin-top: 2px;
  }
  #place::placeholder{
    font-size: 10px;
  }
    }

    @media only screen and (max-width: 223px){
      .btn5{
        margin-left: 200px;
      }
      
    }
    
    @media only screen and (max-width: 203px){
      .btn5{
        margin-left: 200px;
      }
      .para10 input{
        width: 100px;
      }
    }


      @media only screen and (max-width: 265px){
        .btn5{
          margin-left: -70px;  
          margin-top: 5px;
        }
  .para10 input  {
    width: 240px;
    }
    }
    @media only screen and (max-width: 263px){
      .btn5{
        margin-left: 160px;  
     margin-top: -37px;
      }
  }
  @media only screen and (max-width: 233px){
    .btn5{
      margin-left: -80px;  
      margin-top: 5px;

    }
    .para10 input{
      width: 200px;
    }
}
  

/* ######### paragrph responsive ######### */


@media only screen and (max-width: 990px){
 .sec1 p{
  width: 200px;
  margin-left: 250px;

 }
 .sec1 h1{
  font-size: 60px;
 }
  }
  @media only screen and (max-width: 766px){
    .sec1 p{
     width: 200px;
     /* overflow-x: hidden; */
 margin-left: 150px;
   
   
    }
    .sec1 h1{
     font-size: 40px;

    }
     }
     @media only screen and (max-width: 436px){
      .sec1 h1{

     font-size: 20px;
  
      }
     
       }
            @media only screen and (max-width: 440px){
      .sec1 h1{
     margin-left: 60px;    
      }
     
       }

       @media only screen and (max-width: 412px){
        .sec1 h1{
       margin-left: 100px;    
        }
       
         }
         @media only screen and (max-width: 414px){
          .sec1 h1{
         margin-left: 115px;    
          }
         
           }
         @media only screen and (max-width: 360px){
          .sec1 h1{
         margin-left: 150px;    
          }
         
           }
       @media only screen and (max-width: 280px){
        .sec1 h1{
         margin-left: 150px;
        }
        .sec1 p{
          margin-left: 120px;
         }
       
         }