* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {

    background-color:rgba(15, 18, 25, 1);
    overflow-x: hidden;
    max-width:100%;
  
}

.wrapper {
    position: relative;
    overflow: hidden;
}

.dashboard img {
    height: 30px;

}
.sidebar-expanded  .dashboard1{
  width: 200px;
}

/* ######side bar###### */

.sidebar {
    position: fixed;
    height: 100vh ;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    width: 260px;
 
    

    box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

/* ####### side bar hide style ####### */
.toggle-icon{
    color: white;
    margin-left: 280px;
    cursor: pointer;
    font-size: 30px;
}
.sidebar-expanded .toggle-icon{
  margin-left: 100px;
}
.sidebar-expanded .dashboard img{
  margin-left: -30px;
 

}

.sidebar-expanded  .sidebar-header img{
    width:100%;
    height:  50px;
    margin-left: -5px;
}

  .sidebar-expanded .list-unstyled li span {
    display: none;
  }
.sidebar-expanded {
    width: 100px;
  }
  .sidebar-expanded .main-content{
    margin-left: 10px;
  }

  /* ####### side bar hide style end ####### */


  
/* scroll bar style */

.sidebar::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    background-color: #eee;
    display: none;
    margin-top: 50px;
}

.sidebar::-webkit-scrollbar-thumbs {
    width: 5px;
    border-radius: 10px;
    background-color: #333;
    display: none;
}


.sidebar:hover::-webkit-scrollbar {
    display: block;
}

.sidebar:hover::-webkit-scrollbar-thumbs {
    display: block;
}
/* scroll bar style end */



.sidebar .sidebar-header {
    padding: 10px;
    border-bottom: 1px solid #eee;
    margin-left: -10px;
}

.sidebar-header img{
    margin-left: 10px;
}
.sidebar ul li {
    padding: 1px 1px;
}
.sidebar ul.components {
    padding: 5px 0;
    margin-top: 40px;
}

.sidebar ul li a {
    padding: 3px;
    line-height: 5px;
    border-radius: 5px;
    font-size: 15px;
    position: relative;
    font-weight: 400;
    display: block;
}

.sidebar ul li a span {
    text-transform: capitalize;
    display: inline-block;
}

.sidebar ul li a img {
    position: relative;
    margin-right: 10px;
    top: 2px;
    color: #555555;
    margin-left: 5px;
}

.list-unstyled li {
    margin-top: 30px;
    margin-left: 20px;
}

.list-unstyled li a {
    color: white;
    text-decoration: none;
}

.list-unstyled img {
    padding: 0 20px;
}





/* ###### nevbar #######*/

  .menu-container{
    display: flex;
  }
  nav {
    align-items: center;
    float: right;
    color: #fff;
    padding: 10px;
  }
  
  /* Dropdown menu styles */
  .dropdown {
    position: relative;
    margin-right: 20px;
    margin-top: 15px;
  }
  
  .dropdown-btn {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color:
    rgba(15, 18, 25, 1);
    border-radius: 5px;
    padding: 10px;
  }
  
  .dropdown-menu li {
    margin-bottom: 5px;
  }
  .dropdown-menu li a{
    color: white;
  }
  .dropdown-menu li:last-child {
    margin-bottom: 0;
  }
  
  .dropdown-btn:focus + .dropdown-menu {
    display: block;
  }
  
  /* Image and text container styles */
  .nav-content {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .image-container img {
    width: 50px;
    height: 60px;
    border-radius: 50%;
    margin-right: -10px;
  
  }
  
  .text-container p {
    margin: 0;
    color: #fff;
    font-size: 14px;
  }
  .text-container {
    display: flex;
  }
  
  /* Styles for notifications */
  .notifications {
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
  }
  
  .notification-btn {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    position: relative;
  }
  
  .badge {
    background-color: red;
    color: #fff;
    font-size: 10px;
    padding: 3px 6px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: 8px;
  }
  
  .notification-btn img {
    width: 30px;
  }
  
  .notification-dropdown {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background-color:
        rgb(10, 12, 17);
    padding: 10px;
    border-radius: 5px;
    min-width: 200px;
    z-index: 12;
  }
  .notif-item{
    display: flex;
    margin-left: -30px;
    
  }

  .notif-item:hover{
    background-color: rgb(63, 56, 56);
    cursor: pointer;
  margin-left: 0px;
  }
  .notif-item img{
    height: 40px;
    margin-left: 30px;
    margin-top: 20px;
  }
  .notif-item h4{
    font-size: 12px;
    margin-left: 10px;
   
    color: gray;
  }
  .notif-item p{
    font-size: 12px;
    color: gray;
  }
  .text i{
margin-left: 70px;
color: gray;
  }
  .notification-btn:focus + .notification-dropdown {
    display: block;
  }
  .clr {
    background-color:
        rgba(25, 30, 44, 1);
    height: 70px;
    border-radius: 2px;
    margin-right: 30px;
    width: 100%;
  
  }
  .clr p {
    margin-left: 20px;
  }
  .clr img{
    margin-left: 15px;
  }
  
  .clr1 {
    background-color:
        rgba(25, 30, 44, 1);
    height: 70px;
    width: 100%;
    border-radius: 2px;
    margin-right: 60px;
  }
  .clr1 p{
    margin-left: 20px;
  }
  .clr1 img{
    margin-left: 15px;
  }
  .top-navbar {
    width: 100%;
    z-index: 9;
    position: relative;

}
/* ##### main content ####### */

.main-content {
    position: relative;
    /* transition: all 0.3s; */
    padding: 40px  30px 30px 30px;
    overflow-x: hidden;
    width: 100%;


}

hr {
    width: 80%;
    margin-left: 260px;
    color: white;
    margin-top: 80px;
}

.button-box {

    position: relative;
    border-radius: 50px;
    background-color: #161B27;

    margin-left: 300px;
    margin-bottom: 30px;
    height: 50px;
    margin-top: 100px;
    width: 600px;


}

.button-box button {
    padding: 13px 70px;
    color: gray;
}

.toggle-btn {
    padding: 20px 10px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: #FFFFFF;
    font-size: 20px;
    font-family: cabin;

}
.button-box :hover {
    background-color: rgba(15, 18, 25, 1);
    border-radius: 50px;
    width: 150px;
}

.serach {
    margin-left: 920px;
    margin-top: -80px;

}

.serach i {
    position: absolute;
    margin-left: 20px;
    margin-top: 15px;
    color: gray;
}

.serach input {

    border-radius: 50px;
    background-color: #161B27;
    width: 300px;
    height: 40px;
    border: none;
    text-align: center;

}

.serach ::placeholder {
    margin-left: 40px;
    color: gray;
}

/* ######## row style ######## */

.content {

    margin-left: 150px;
    margin-top: 40px;
    color: #FFFFFF;
}
.para{
    margin-left: -130px;
    margin-top: 30px;
}

.img1 img {
  margin-top: 30px;
    width: 400px;
    margin-left: 150px;
    height: 40px;

}

.para1 {
    margin-left: 290px;
    margin-top: 30px;
}
.para2{
    color: red;
    margin-top: 30px;
    margin-left: -30px;
    
}
.content1 {
    color: #FFFFFF;
}

.content1 p {
    font-family: jost;
    font-weight: 400;
    Size: 15px;
  color: gray;
    margin-left: 30px;
    margin-top: 30px;
   
}
.content2{

    color: gray;
    position: relative;
    display: flex;
   
}
.content2 i ,img{
    margin-left: -30px;
    height: 20px;

}
.like{
    margin-left: 10px;
}
.content2 p,i {
    padding :0px  13px;
}
.para3{
    border-radius: 50px;
    background-color: rgba(19, 22, 32, 1);
    height: 40px;
    width: 300px;
    margin-left: -110px;

 
}
.para3 p{
  
   margin-top: 10px;
   margin-left: 10px;
 color: gray;
  
}
.para3 button ,i {
    position: absolute;
    color: white;

}
.para3 button{
    background-color: rgba(25, 30, 44, 1);
    border-radius: 50px;
    width: 80px;
    border: none;
    position: absolute;
     height: 30px;
     margin-left: 15px;
   margin-top: -5px;
   
  
}
.para4 button{
  background: linear-gradient(to right, rgba(66, 133, 244, 1), rgba(12, 83, 199, 1));
  box-shadow: 0 9px 32px 0 rgba(66, 133, 244, 0.6)
  border: none;
  border-radius: 10px;
  padding: 0px 30px;
  margin-left: 80px;
margin-bottom: 30px;
 
}
.mycontent{
    background-color: rgba(25, 30, 44, 1);
    border-radius: 20px;
   width: 1000px;
   margin-left: 250px;
  

}

/* #######n  row style end ######## */



